/* Navbar Styling */
.navbar {
    // background-color: #333;
    overflow: hidden;
  }

 
  /* Main Menu Styling */
  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
  
    > .menu-item {
      float: left;
      position: relative;
  
      > a {
        display: block;
        color: $bistre-2;
        padding: 14px 16px;
        text-decoration: none;
      }
  
      &:hover {
        > a {
          background-color: $vanilla;
         
        }
  
        .submenu {
          display: block;
        }
      }
    }
  }
  
  /* Submenu Styling */
  .submenu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    min-width: 160px;
    z-index: 1;
    margin: 0px;
  
    .submenu-item {
      float: none;
      list-style-type: none;
      margin: 0px;
  
      a {
        color: $bistre-2;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
  
        &:hover {
          background-color: $vanilla;
        }
      }
    }
  }